<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.manto.ScpCommander</string>
    <key>CFBundleName</key>
    <string>ScpCommander</string>
    <key>CFBundleDisplayName</key>
    <string>ScpCommander</string>
    <key>CFBundleExecutable</key>
    <string>ScpCommander</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>SFTP URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sftp</string>
                <string>ftp</string>
                <string>ftps</string>
                <string>s3</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.manto.scp-commander.dragged-file</string>
            <key>UTTypeDescription</key>
            <string>SCP Commander dragged file</string>
            <key>UTTypeConformsTo</key>
            <array><string>public.data</string></array>
        </dict>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
